{
  "openapi": "3.0.0",
  "info": {
    "title": "CBS WSO2 for LOS",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://mi-sit.phillipbank.com.kh/v1/cbs",
      "variables": {}
    }
  ],
  "paths": {
    "/customer/create": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Create customer",
        "operationId": "Createcustomer",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreatecustomerRequest"
                  },
                  {
                    "example": {
                      "branch_code": "000",
                      "name": "VICHEA03",
                      "address": "Phum 9 12040209",
                      "country_code": "KH",
                      "short_name": "VICHEA04lsINi64gfi8d",
                      "nationality": "KH",
                      "category": "01",
                      "full_name": "Vichea03",
                      "location": "000",
                      "first_name": "Vichea03",
                      "last_name": "Vichea03",
                      "date_of_birth": "1991-09-01",
                      "gender": "M",
                      "nationality_id_type": "PASSPORT",
                      "nationality_id_no": "011234569",
                      "nationality_id_issue_date": "2020-09-01",
                      "nationality_id_expire_date": "2025-09-01",
                      "email": "Vichea03@gmail.com",
                      "domicile_country": "KH",
                      "permanent_country": "KH",
                      "language": "ENG",
                      "resident_status": "R",
                      "title": "MR",
                      "telephone": "087556111",
                      "mobile_phone": "087555666",
                      "mobile_phone_prefix": "855",
                      "spouse_name": "Vichea03",
                      "current_designation": "SW DEV",
                      "register_channel": "COB"
                    }
                  }
                ]
              },
              "example": {
                "branch_code": "000",
                "name": "VICHEA03",
                "address": "Phum 9 12040209",
                "country_code": "KH",
                "short_name": "VICHEA04lsINi64gfi8d",
                "nationality": "KH",
                "category": "01",
                "full_name": "Vichea03",
                "location": "000",
                "first_name": "Vichea03",
                "last_name": "Vichea03",
                "date_of_birth": "1991-09-01",
                "gender": "M",
                "nationality_id_type": "PASSPORT",
                "nationality_id_no": "011234569",
                "nationality_id_issue_date": "2020-09-01",
                "nationality_id_expire_date": "2025-09-01",
                "email": "Vichea03@gmail.com",
                "domicile_country": "KH",
                "permanent_country": "KH",
                "language": "ENG",
                "resident_status": "R",
                "title": "MR",
                "telephone": "087556111",
                "mobile_phone": "087555666",
                "mobile_phone_prefix": "855",
                "spouse_name": "Vichea03",
                "current_designation": "SW DEV",
                "register_channel": "COB"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/customer/search": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Search customer info",
        "operationId": "Searchcustomerinfo",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchcustomerinfoRequest"
                  },
                  {
                    "example": {
                      "short_name": "002830862",
                      "date_of_birth": "29-Oct-04"
                    }
                  }
                ]
              },
              "example": {
                "short_name": "002830862",
                "date_of_birth": "29-Oct-04"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/account/saving/create": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create saving",
        "operationId": "Createsaving",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreatesavingRequest"
                  },
                  {
                    "example": {
                      "branch_code": "171",
                      "account_no": "DUMM",
                      "cif_no": "003201354",
                      "account_class": "006",
                      "account_ccy": "KHR",
                      "account_desc": "PRUM Tithvicheka",
                      "open_date": "2022-04-11",
                      "address": "Kandal",
                      "location": "171",
                      "country_code": "KH",
                      "account_gender": "N",
                      "credit_officer": "171 - Battambang",
                      "purpose": "Savings",
                      "staff_referral": "171 - Battambang",
                      "register_channel": "MB"
                    }
                  }
                ]
              },
              "example": {
                "branch_code": "171",
                "account_no": "DUMM",
                "cif_no": "003201354",
                "account_class": "006",
                "account_ccy": "KHR",
                "account_desc": "PRUM Tithvicheka",
                "open_date": "2022-04-11",
                "address": "Kandal",
                "location": "171",
                "country_code": "KH",
                "account_gender": "N",
                "credit_officer": "171 - Battambang",
                "purpose": "Savings",
                "staff_referral": "171 - Battambang",
                "register_channel": "MB"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/account/saving/search": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Search saving",
        "operationId": "Searchsaving",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchsavingRequest"
                  },
                  {
                    "example": {
                      "account_no": "000000011",
                      "account_class": "",
                      "ccy": ""
                    }
                  }
                ]
              },
              "example": {
                "account_no": "000000011",
                "account_class": "",
                "ccy": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/corporate-lending/disbursement/create": {
      "post": {
        "tags": [
          "Corperate lending"
        ],
        "summary": "Create disbursement",
        "operationId": "Createdisbursement",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreatedisbursementRequest"
                  },
                  {
                    "example": {
                      "branch_code": "020",
                      "loan_account_no": "0200028411249504",
                      "txn_branch_code": "020",
                      "value_date": "2023-02-02",
                      "execution_date": "2023-04-03",
                      "ccy": "USD",
                      "total_amount": "5000",
                      "amount_finance": "5000",
                      "amount_disburse": "5000",
                      "cif_no": "002841124",
                      "product_code": "01155",
                      "maker_id": "PISEY_HUOT",
                      "checker_id": "SOVANNITH",
                      "settle_ccy": "USD",
                      "settle_branch_code": "016",
                      "settle_amount": "5000",
                      "settle_account_no": "000042225"
                    }
                  }
                ]
              },
              "example": {
                "branch_code": "020",
                "loan_account_no": "0200028411249504",
                "txn_branch_code": "020",
                "value_date": "2023-02-02",
                "execution_date": "2023-04-03",
                "ccy": "USD",
                "total_amount": "5000",
                "amount_finance": "5000",
                "amount_disburse": "5000",
                "cif_no": "002841124",
                "product_code": "01155",
                "maker_id": "PISEY_HUOT",
                "checker_id": "SOVANNITH",
                "settle_ccy": "USD",
                "settle_branch_code": "016",
                "settle_amount": "5000",
                "settle_account_no": "000042225"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/corporate-lending/loan-account/create": {
      "post": {
        "tags": [
          "Corperate lending"
        ],
        "summary": "Create loan account method BALLON",
        "operationId": "CreateloanaccountmethodBALLON",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateloanaccountmethodBALLONRequest"
                  },
                  {
                    "example": {
                      "method": "BALLON",
                      "branch_code": "020",
                      "product_code": "0135",
                      "product_category": "INDIVIDUAL",
                      "user_define_status": "NORM",
                      "cif_no": "002830362",
                      "book_date": "2023-03-09",
                      "value_date": "2023-03-09",
                      "ccy": "USD",
                      "amount_financed": "400",
                      "maturity_type": "F",
                      "principle": "400",
                      "provisioning_mode": "A",
                      "no_of_installment": "13",
                      "due_date_on": "13",
                      "frequency": "1",
                      "frequency_unit": "M",
                      "installment_start_date": "2023-03-13",
                      "other_applicants": [
                        {
                          "cif_no": "002830876",
                          "name": "CUSTOMER_002830876",
                          "responsibility": "CBW",
                          "liability": "100",
                          "liability_amount": "1000",
                          "effective_date": "2023-03-09"
                        },
                        {
                          "cif_no": "002830878",
                          "name": "CUSTOMER_002830878",
                          "responsibility": "GUA",
                          "liability": "100",
                          "liability_amount": "1000",
                          "effective_date": "2023-03-09"
                        },
                        {
                          "cif_no": "003329996",
                          "name": "Ratanak",
                          "responsibility": "BRW",
                          "liability": "100",
                          "liability_amount": "400",
                          "effective_date": "2023-03-09"
                        }
                      ],
                      "components": {
                        "cont_int": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "P",
                          "maincomp": "N",
                          "splint": "N",
                          "penalbasiscomp": "PRINCIPAL",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "liquidationmode": "A",
                          "expflag": "N",
                          "crproduct": "000045999",
                          "drproduct": "000045999"
                        },
                        "main_int": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "I",
                          "maincomp": "Y",
                          "splint": "N",
                          "penalbasiscomp": "A",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "expflag": "N",
                          "crproduct": "000045999",
                          "drproduct": "000045999",
                          "comp_sch": {
                            "unit": "B",
                            "capitalized": "N",
                            "firstduedt": "2024-03-13",
                            "waiverflg": "N",
                            "emiamt": "0",
                            "freq": "1",
                            "formulaname": "MAIN_INT_FRM_2",
                            "noofsch": "1",
                            "schtyp": "P",
                            "schflg": "N"
                          }
                        },
                        "penal_int": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "P",
                          "maincomp": "N",
                          "splint": "N",
                          "penalbasiscomp": "MAIN_INT",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "expflag": "N",
                          "crproduct": "000045999",
                          "drproduct": "000045999"
                        },
                        "penal_prn": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "P",
                          "maincomp": "N",
                          "splint": "N",
                          "penalbasiscomp": "PRINCIPAL",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "expflag": "N",
                          "crproduct": "000045999",
                          "drproduct": "000045999"
                        },
                        "pre_pnlty": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "M",
                          "maincomp": "N",
                          "splint": "N",
                          "penalbasiscomp": "PRINCIPAL",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "crproduct": "000045999",
                          "drproduct": "000045999"
                        },
                        "pre_pnlty_2": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "M",
                          "maincomp": "N",
                          "splint": "N",
                          "penalbasiscomp": "MAIN_INT",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "crproduct": "000045999",
                          "drproduct": "000045999"
                        },
                        "pre_pnlty_3": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "M",
                          "maincomp": "N",
                          "splint": "N",
                          "penalbasiscomp": "SIMP_INT",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "crproduct": "000045999",
                          "drproduct": "000045999"
                        },
                        "principal": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "L",
                          "maincomp": "N",
                          "splint": "N",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "expflag": "N",
                          "crproduct": "000045999",
                          "drproduct": "000045999"
                        },
                        "simp_int": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "I",
                          "maincomp": "N",
                          "splint": "N",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "expflag": "N",
                          "crproduct": "000045999",
                          "drproduct": "000045999",
                          "comp_sch": [
                            {
                              "unit": "M",
                              "capitalized": "N",
                              "firstduedt": "2023-03-13",
                              "waiverflg": "N",
                              "due_date_on": "13",
                              "freq": "1",
                              "formulaname": "SIMP_INT_FRM_1",
                              "noofsch": "12",
                              "schtyp": "P",
                              "schflg": "N"
                            },
                            {
                              "unit": "B",
                              "capitalized": "N",
                              "firstduedt": "2024-03-13",
                              "waiverflg": "N",
                              "freq": "1",
                              "formulaname": "SIMP_INT_FRM_1",
                              "noofsch": "1",
                              "schtyp": "P",
                              "schflg": "N"
                            }
                          ]
                        },
                        "sim_pen_int": {
                          "irrappl": "N",
                          "fundduringinit": "N",
                          "fundduringroll": "N",
                          "compccy": "USD",
                          "draccbrn": "020",
                          "craccbrn": "020",
                          "waive": "N",
                          "verifyfunds": "Y",
                          "settlccy": "USD",
                          "cmptype": "P",
                          "maincomp": "N",
                          "splint": "N",
                          "penalbasiscomp": "SIMP_INT",
                          "capitalized": "N",
                          "drpaymentmode": "ACC",
                          "crpaymentmode": "ACC",
                          "expflag": "N",
                          "crproduct": "000045999",
                          "drproduct": "000045999"
                        }
                      },
                      "effective_date": "2023-03-09",
                      "cbc_charge": "3",
                      "cbc_charge_resolved": "3",
                      "cbs_charge_basis": "N",
                      "interest_rate": "0",
                      "interest_rate_resolve": "0",
                      "interest_rate_basis": "N",
                      "loan_fee": "100",
                      "loan_fee_resolve": "100",
                      "loan_fee_basis": "N",
                      "penal_rate": "24",
                      "penal_rate_resolve": "24",
                      "penal_rate_basis": "N",
                      "chg_comp": [
                        {
                          "compchg_ccy": "USD",
                          "comp_name": "ADHC_CHG",
                          "dracc_branch": "020",
                          "cracc_branch": "020",
                          "settl_chg_ccy": "USD",
                          "cmp_type": "O",
                          "dr_pay_mode": "ACC",
                          "cr_pay_mode": "ACC",
                          "crprodac": "000045999",
                          "drprodac": "000045999"
                        },
                        {
                          "compchg_ccy": "USD",
                          "comp_name": "CBC_CHARGE",
                          "dracc_branch": "020",
                          "cracc_branch": "020",
                          "settl_chg_ccy": "USD",
                          "cmp_type": "H",
                          "dr_pay_mode": "ACC",
                          "cr_pay_mode": "ACC",
                          "crprodac": "000045999",
                          "drprodac": "000045999"
                        },
                        {
                          "compchg_ccy": "USD",
                          "comp_name": "CBC_CHG_VAT",
                          "dracc_branch": "020",
                          "cracc_branch": "020",
                          "settl_chg_ccy": "USD",
                          "cmp_type": "H",
                          "dr_pay_mode": "ACC",
                          "cr_pay_mode": "ACC",
                          "crprodac": "000045999",
                          "drprodac": "000045999"
                        },
                        {
                          "compchg_ccy": "USD",
                          "comp_name": "LOAN_FEE",
                          "dracc_branch": "020",
                          "cracc_branch": "020",
                          "settl_chg_ccy": "USD",
                          "cmp_type": "H",
                          "dr_pay_mode": "ACC",
                          "cr_pay_mode": "ACC",
                          "crprodac": "000045999",
                          "drprodac": "000045999"
                        },
                        {
                          "compchg_ccy": "USD",
                          "comp_name": "PROV",
                          "dracc_branch": "020",
                          "cracc_branch": "020",
                          "settl_chg_ccy": "USD",
                          "cmp_type": "H",
                          "dr_pay_mode": "ACC",
                          "cr_pay_mode": "ACC",
                          "crprodac": "000045999",
                          "drprodac": "000045999"
                        }
                      ],
                      "financials": [
                        {
                          "account_no": "0150033299960002",
                          "branch_code": "015",
                          "sequence_no": "1",
                          "financial_type": "Avg Payment of Debt after CBC",
                          "financial_source": "Business Omwer",
                          "ccy": "USD",
                          "amount": "1000"
                        },
                        {
                          "account_no": "0150033299960002",
                          "branch_code": "015",
                          "sequence_no": "2",
                          "financial_type": "Total Asset Value",
                          "financial_source": "Business Omwer",
                          "ccy": "USD",
                          "amount": "2000"
                        }
                      ],
                      "liabilities": [
                        {
                          "account_no": "0150033299960001",
                          "branch_code": "015",
                          "sequence_no": "1",
                          "liability_type": "ACLEDA BANK Plc",
                          "account_type": "Loan",
                          "ccy": "USD",
                          "amount": "100",
                          "frequency": "Monthly",
                          "balance": "1000",
                          "commentdet": "10"
                        },
                        {
                          "account_no": "0150033299960001",
                          "branch_code": "015",
                          "sequence_no": "2",
                          "liability_type": "ACTIVE PEOPLES MICROFINANCE",
                          "account_type": "Loan",
                          "ccy": "USD",
                          "amount": "200",
                          "frequency": "Monthly",
                          "balance": "2000",
                          "commentdet": "20"
                        }
                      ],
                      "other_income": {
                        "account_no": "0150033299960001",
                        "branch_code": "015",
                        "sequence_no": "1",
                        "income_type": "02010110",
                        "ccy": "USD",
                        "amount": "2000",
                        "frequency": "Monthly"
                      },
                      "credit_officer": "000 - Head Office",
                      "credit_officer_desc": "000 | Head Office",
                      "payment_location": "OFFICE",
                      "payment_location_desc": "OFFICE",
                      "loan_fund": "STANDARD",
                      "loan_fund_desc": "STANDARD",
                      "loan_purpose": "01020101",
                      "loan_purpose_desc": "Commercial Banks",
                      "exposure_type": "Micro Loan",
                      "exposure_type_desc": "Micro Loan",
                      "main_collateral_type": "MAINCO004",
                      "main_collateral_type_desc": "Unofficial Land Title Signed by Provincial Level",
                      "credit_scoring": "Good",
                      "credit_scoring_desc": "Good",
                      "credit_risk_rating": "Good",
                      "credit_risk_rating_desc": "Good",
                      "approve_by": "Branch Manager",
                      "approve_by_desc": "Branch Manager",
                      "nbc_large_exposures": "Sok Pisey",
                      "nbc_large_exposures_desc": "Sok Pisey",
                      "loan_purpose_amount": "10000",
                      "move_across_month": "Y",
                      "move_maturity_date_across_month": "Y"
                    }
                  }
                ]
              },
              "example": {
                "method": "BALLON",
                "branch_code": "020",
                "product_code": "0135",
                "product_category": "INDIVIDUAL",
                "user_define_status": "NORM",
                "cif_no": "002830362",
                "book_date": "2023-03-09",
                "value_date": "2023-03-09",
                "ccy": "USD",
                "amount_financed": "400",
                "maturity_type": "F",
                "principle": "400",
                "provisioning_mode": "A",
                "no_of_installment": "13",
                "due_date_on": "13",
                "frequency": "1",
                "frequency_unit": "M",
                "installment_start_date": "2023-03-13",
                "other_applicants": [
                  {
                    "cif_no": "002830876",
                    "name": "CUSTOMER_002830876",
                    "responsibility": "CBW",
                    "liability": "100",
                    "liability_amount": "1000",
                    "effective_date": "2023-03-09"
                  },
                  {
                    "cif_no": "002830878",
                    "name": "CUSTOMER_002830878",
                    "responsibility": "GUA",
                    "liability": "100",
                    "liability_amount": "1000",
                    "effective_date": "2023-03-09"
                  },
                  {
                    "cif_no": "003329996",
                    "name": "Ratanak",
                    "responsibility": "BRW",
                    "liability": "100",
                    "liability_amount": "400",
                    "effective_date": "2023-03-09"
                  }
                ],
                "components": {
                  "cont_int": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "P",
                    "maincomp": "N",
                    "splint": "N",
                    "penalbasiscomp": "PRINCIPAL",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "liquidationmode": "A",
                    "expflag": "N",
                    "crproduct": "000045999",
                    "drproduct": "000045999"
                  },
                  "main_int": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "I",
                    "maincomp": "Y",
                    "splint": "N",
                    "penalbasiscomp": "A",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "expflag": "N",
                    "crproduct": "000045999",
                    "drproduct": "000045999",
                    "comp_sch": {
                      "unit": "B",
                      "capitalized": "N",
                      "firstduedt": "2024-03-13",
                      "waiverflg": "N",
                      "emiamt": "0",
                      "freq": "1",
                      "formulaname": "MAIN_INT_FRM_2",
                      "noofsch": "1",
                      "schtyp": "P",
                      "schflg": "N"
                    }
                  },
                  "penal_int": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "P",
                    "maincomp": "N",
                    "splint": "N",
                    "penalbasiscomp": "MAIN_INT",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "expflag": "N",
                    "crproduct": "000045999",
                    "drproduct": "000045999"
                  },
                  "penal_prn": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "P",
                    "maincomp": "N",
                    "splint": "N",
                    "penalbasiscomp": "PRINCIPAL",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "expflag": "N",
                    "crproduct": "000045999",
                    "drproduct": "000045999"
                  },
                  "pre_pnlty": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "M",
                    "maincomp": "N",
                    "splint": "N",
                    "penalbasiscomp": "PRINCIPAL",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "crproduct": "000045999",
                    "drproduct": "000045999"
                  },
                  "pre_pnlty_2": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "M",
                    "maincomp": "N",
                    "splint": "N",
                    "penalbasiscomp": "MAIN_INT",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "crproduct": "000045999",
                    "drproduct": "000045999"
                  },
                  "pre_pnlty_3": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "M",
                    "maincomp": "N",
                    "splint": "N",
                    "penalbasiscomp": "SIMP_INT",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "crproduct": "000045999",
                    "drproduct": "000045999"
                  },
                  "principal": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "L",
                    "maincomp": "N",
                    "splint": "N",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "expflag": "N",
                    "crproduct": "000045999",
                    "drproduct": "000045999"
                  },
                  "simp_int": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "I",
                    "maincomp": "N",
                    "splint": "N",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "expflag": "N",
                    "crproduct": "000045999",
                    "drproduct": "000045999",
                    "comp_sch": [
                      {
                        "unit": "M",
                        "capitalized": "N",
                        "firstduedt": "2023-03-13",
                        "waiverflg": "N",
                        "due_date_on": "13",
                        "freq": "1",
                        "formulaname": "SIMP_INT_FRM_1",
                        "noofsch": "12",
                        "schtyp": "P",
                        "schflg": "N"
                      },
                      {
                        "unit": "B",
                        "capitalized": "N",
                        "firstduedt": "2024-03-13",
                        "waiverflg": "N",
                        "freq": "1",
                        "formulaname": "SIMP_INT_FRM_1",
                        "noofsch": "1",
                        "schtyp": "P",
                        "schflg": "N"
                      }
                    ]
                  },
                  "sim_pen_int": {
                    "irrappl": "N",
                    "fundduringinit": "N",
                    "fundduringroll": "N",
                    "compccy": "USD",
                    "draccbrn": "020",
                    "craccbrn": "020",
                    "waive": "N",
                    "verifyfunds": "Y",
                    "settlccy": "USD",
                    "cmptype": "P",
                    "maincomp": "N",
                    "splint": "N",
                    "penalbasiscomp": "SIMP_INT",
                    "capitalized": "N",
                    "drpaymentmode": "ACC",
                    "crpaymentmode": "ACC",
                    "expflag": "N",
                    "crproduct": "000045999",
                    "drproduct": "000045999"
                  }
                },
                "effective_date": "2023-03-09",
                "cbc_charge": "3",
                "cbc_charge_resolved": "3",
                "cbs_charge_basis": "N",
                "interest_rate": "0",
                "interest_rate_resolve": "0",
                "interest_rate_basis": "N",
                "loan_fee": "100",
                "loan_fee_resolve": "100",
                "loan_fee_basis": "N",
                "penal_rate": "24",
                "penal_rate_resolve": "24",
                "penal_rate_basis": "N",
                "chg_comp": [
                  {
                    "compchg_ccy": "USD",
                    "comp_name": "ADHC_CHG",
                    "dracc_branch": "020",
                    "cracc_branch": "020",
                    "settl_chg_ccy": "USD",
                    "cmp_type": "O",
                    "dr_pay_mode": "ACC",
                    "cr_pay_mode": "ACC",
                    "crprodac": "000045999",
                    "drprodac": "000045999"
                  },
                  {
                    "compchg_ccy": "USD",
                    "comp_name": "CBC_CHARGE",
                    "dracc_branch": "020",
                    "cracc_branch": "020",
                    "settl_chg_ccy": "USD",
                    "cmp_type": "H",
                    "dr_pay_mode": "ACC",
                    "cr_pay_mode": "ACC",
                    "crprodac": "000045999",
                    "drprodac": "000045999"
                  },
                  {
                    "compchg_ccy": "USD",
                    "comp_name": "CBC_CHG_VAT",
                    "dracc_branch": "020",
                    "cracc_branch": "020",
                    "settl_chg_ccy": "USD",
                    "cmp_type": "H",
                    "dr_pay_mode": "ACC",
                    "cr_pay_mode": "ACC",
                    "crprodac": "000045999",
                    "drprodac": "000045999"
                  },
                  {
                    "compchg_ccy": "USD",
                    "comp_name": "LOAN_FEE",
                    "dracc_branch": "020",
                    "cracc_branch": "020",
                    "settl_chg_ccy": "USD",
                    "cmp_type": "H",
                    "dr_pay_mode": "ACC",
                    "cr_pay_mode": "ACC",
                    "crprodac": "000045999",
                    "drprodac": "000045999"
                  },
                  {
                    "compchg_ccy": "USD",
                    "comp_name": "PROV",
                    "dracc_branch": "020",
                    "cracc_branch": "020",
                    "settl_chg_ccy": "USD",
                    "cmp_type": "H",
                    "dr_pay_mode": "ACC",
                    "cr_pay_mode": "ACC",
                    "crprodac": "000045999",
                    "drprodac": "000045999"
                  }
                ],
                "financials": [
                  {
                    "account_no": "0150033299960002",
                    "branch_code": "015",
                    "sequence_no": "1",
                    "financial_type": "Avg Payment of Debt after CBC",
                    "financial_source": "Business Omwer",
                    "ccy": "USD",
                    "amount": "1000"
                  },
                  {
                    "account_no": "0150033299960002",
                    "branch_code": "015",
                    "sequence_no": "2",
                    "financial_type": "Total Asset Value",
                    "financial_source": "Business Omwer",
                    "ccy": "USD",
                    "amount": "2000"
                  }
                ],
                "liabilities": [
                  {
                    "account_no": "0150033299960001",
                    "branch_code": "015",
                    "sequence_no": "1",
                    "liability_type": "ACLEDA BANK Plc",
                    "account_type": "Loan",
                    "ccy": "USD",
                    "amount": "100",
                    "frequency": "Monthly",
                    "balance": "1000",
                    "commentdet": "10"
                  },
                  {
                    "account_no": "0150033299960001",
                    "branch_code": "015",
                    "sequence_no": "2",
                    "liability_type": "ACTIVE PEOPLES MICROFINANCE",
                    "account_type": "Loan",
                    "ccy": "USD",
                    "amount": "200",
                    "frequency": "Monthly",
                    "balance": "2000",
                    "commentdet": "20"
                  }
                ],
                "other_income": {
                  "account_no": "0150033299960001",
                  "branch_code": "015",
                  "sequence_no": "1",
                  "income_type": "02010110",
                  "ccy": "USD",
                  "amount": "2000",
                  "frequency": "Monthly"
                },
                "credit_officer": "000 - Head Office",
                "credit_officer_desc": "000 | Head Office",
                "payment_location": "OFFICE",
                "payment_location_desc": "OFFICE",
                "loan_fund": "STANDARD",
                "loan_fund_desc": "STANDARD",
                "loan_purpose": "01020101",
                "loan_purpose_desc": "Commercial Banks",
                "exposure_type": "Micro Loan",
                "exposure_type_desc": "Micro Loan",
                "main_collateral_type": "MAINCO004",
                "main_collateral_type_desc": "Unofficial Land Title Signed by Provincial Level",
                "credit_scoring": "Good",
                "credit_scoring_desc": "Good",
                "credit_risk_rating": "Good",
                "credit_risk_rating_desc": "Good",
                "approve_by": "Branch Manager",
                "approve_by_desc": "Branch Manager",
                "nbc_large_exposures": "Sok Pisey",
                "nbc_large_exposures_desc": "Sok Pisey",
                "loan_purpose_amount": "10000",
                "move_across_month": "Y",
                "move_maturity_date_across_month": "Y"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/corporate-lending/search-loan-info": {
      "post": {
        "tags": [
          "Corperate lending"
        ],
        "summary": "Search loan info",
        "operationId": "Searchloaninfo",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchloaninfoRequest"
                  },
                  {
                    "example": {
                      "cif_no": "",
                      "branch_code": "011",
                      "ccy": "",
                      "amount_financed": ""
                    }
                  }
                ]
              },
              "example": {
                "cif_no": "",
                "branch_code": "011",
                "ccy": "",
                "amount_financed": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/corporate-lending/get-loan-late-listing": {
      "post": {
        "tags": [
          "Corperate lending"
        ],
        "summary": "Get loan late listing",
        "operationId": "Getloanlatelisting",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetloanlatelistingRequest"
                  },
                  {
                    "example": {
                      "cif_no": "002836642",
                      "credit_officer": "02166 - NOUN Vichet"
                    }
                  }
                ]
              },
              "example": {
                "cif_no": "002836642",
                "credit_officer": "02166 - NOUN Vichet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/corporate-lending/get-loan-schedule": {
      "post": {
        "tags": [
          "Corperate lending"
        ],
        "summary": "Get loan schedule",
        "operationId": "Getloanschedule",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetloanscheduleRequest"
                  },
                  {
                    "example": {
                      "account_no": "0000028670781278"
                    }
                  }
                ]
              },
              "example": {
                "account_no": "0000028670781278"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/collateral/create": {
      "post": {
        "tags": [
          "Collateral"
        ],
        "summary": "Create collateral",
        "operationId": "Createcollateral",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreatecollateralRequest"
                  },
                  {
                    "example": {
                      "branch_code": "999",
                      "ccy": "USD",
                      "liability_no": "00187824",
                      "collateral_code": "003325292_2",
                      "collateral_desc": "HARD TITLE 12020312-0013",
                      "collateral_value": "100",
                      "haircut": "0",
                      "start_date": "2022-04-11",
                      "charge_type": "0",
                      "category_name": "00102",
                      "seniority_of_claim": "0",
                      "collateral_storage": "Branch"
                    }
                  }
                ]
              },
              "example": {
                "branch_code": "999",
                "ccy": "USD",
                "liability_no": "00187824",
                "collateral_code": "003325292_2",
                "collateral_desc": "HARD TITLE 12020312-0013",
                "collateral_value": "100",
                "haircut": "0",
                "start_date": "2022-04-11",
                "charge_type": "0",
                "category_name": "00102",
                "seniority_of_claim": "0",
                "collateral_storage": "Branch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/collateral/close": {
      "post": {
        "tags": [
          "Collateral"
        ],
        "summary": "Close collateral",
        "operationId": "Closecollateral",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClosecollateralRequest"
                  },
                  {
                    "example": {
                      "branch_code": "999",
                      "liability_no": "002947223",
                      "collateral_code": "003325292_2"
                    }
                  }
                ]
              },
              "example": {
                "branch_code": "999",
                "liability_no": "002947223",
                "collateral_code": "003325292_2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/collateral/search-profile": {
      "post": {
        "tags": [
          "Collateral"
        ],
        "summary": "Search collateral profile",
        "operationId": "Searchcollateralprofile",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchcollateralprofileRequest"
                  },
                  {
                    "example": {
                      "cif_no": "002835886"
                    }
                  }
                ]
              },
              "example": {
                "cif_no": "002835886"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/settlement-instruction/create": {
      "post": {
        "tags": [
          "Settlement instruction"
        ],
        "summary": "Create settlement instruction",
        "operationId": "Createsettlementinstruction",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreatesettlementinstructionRequest"
                  },
                  {
                    "example": {
                      "branch_code": "076",
                      "counter_party": "003336198",
                      "ccy": "USD",
                      "pay_branch_code": "076",
                      "receivable_branch": "076",
                      "receivable_ccy": "USD",
                      "product_code": "0105",
                      "instruction_desc": "DEFAULT",
                      "account_no": "000043389",
                      "receivable_account": "000043389"
                    }
                  }
                ]
              },
              "example": {
                "branch_code": "076",
                "counter_party": "003336198",
                "ccy": "USD",
                "pay_branch_code": "076",
                "receivable_branch": "076",
                "receivable_ccy": "USD",
                "product_code": "0105",
                "instruction_desc": "DEFAULT",
                "account_no": "000043389",
                "receivable_account": "000043389"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/lov/query": {
      "post": {
        "tags": [
          "List of value"
        ],
        "summary": "Get list of value",
        "operationId": "Getlistofvalue",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          },
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetlistofvalueRequest"
                  },
                  {
                    "example": {
                      "field_name": "EDUCATIONAL_STATUS"
                    }
                  }
                ]
              },
              "example": {
                "field_name": "EDUCATIONAL_STATUS"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/address/query": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Get address",
        "operationId": "Getaddress",
        "parameters": [
          {
            "name": "App-Code",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LOS"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "CreatecustomerRequest": {
        "title": "CreatecustomerRequest",
        "required": [
          "branch_code",
          "name",
          "address",
          "country_code",
          "short_name",
          "nationality",
          "category",
          "full_name",
          "location",
          "first_name",
          "last_name",
          "date_of_birth",
          "gender",
          "nationality_id_type",
          "nationality_id_no",
          "nationality_id_issue_date",
          "nationality_id_expire_date",
          "email",
          "domicile_country",
          "permanent_country",
          "language",
          "resident_status",
          "title",
          "telephone",
          "mobile_phone",
          "mobile_phone_prefix",
          "spouse_name",
          "current_designation",
          "register_channel"
        ],
        "type": "object",
        "properties": {
          "branch_code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "nationality_id_type": {
            "type": "string"
          },
          "nationality_id_no": {
            "type": "string"
          },
          "nationality_id_issue_date": {
            "type": "string"
          },
          "nationality_id_expire_date": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "domicile_country": {
            "type": "string"
          },
          "permanent_country": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "resident_status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "telephone": {
            "type": "string"
          },
          "mobile_phone": {
            "type": "string"
          },
          "mobile_phone_prefix": {
            "type": "string"
          },
          "spouse_name": {
            "type": "string"
          },
          "current_designation": {
            "type": "string"
          },
          "register_channel": {
            "type": "string"
          }
        },
        "example": {
          "branch_code": "000",
          "name": "VICHEA03",
          "address": "Phum 9 12040209",
          "country_code": "KH",
          "short_name": "VICHEA04lsINi64gfi8d",
          "nationality": "KH",
          "category": "01",
          "full_name": "Vichea03",
          "location": "000",
          "first_name": "Vichea03",
          "last_name": "Vichea03",
          "date_of_birth": "1991-09-01",
          "gender": "M",
          "nationality_id_type": "PASSPORT",
          "nationality_id_no": "011234569",
          "nationality_id_issue_date": "2020-09-01",
          "nationality_id_expire_date": "2025-09-01",
          "email": "Vichea03@gmail.com",
          "domicile_country": "KH",
          "permanent_country": "KH",
          "language": "ENG",
          "resident_status": "R",
          "title": "MR",
          "telephone": "087556111",
          "mobile_phone": "087555666",
          "mobile_phone_prefix": "855",
          "spouse_name": "Vichea03",
          "current_designation": "SW DEV",
          "register_channel": "COB"
        }
      },
      "SearchcustomerinfoRequest": {
        "title": "SearchcustomerinfoRequest",
        "required": [
          "short_name",
          "date_of_birth"
        ],
        "type": "object",
        "properties": {
          "short_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string"
          }
        },
        "example": {
          "short_name": "002830862",
          "date_of_birth": "29-Oct-04"
        }
      },
      "CreatesavingRequest": {
        "title": "CreatesavingRequest",
        "required": [
          "branch_code",
          "account_no",
          "cif_no",
          "account_class",
          "account_ccy",
          "account_desc",
          "open_date",
          "address",
          "location",
          "country_code",
          "account_gender",
          "credit_officer",
          "purpose",
          "staff_referral",
          "register_channel"
        ],
        "type": "object",
        "properties": {
          "branch_code": {
            "type": "string"
          },
          "account_no": {
            "type": "string"
          },
          "cif_no": {
            "type": "string"
          },
          "account_class": {
            "type": "string"
          },
          "account_ccy": {
            "type": "string"
          },
          "account_desc": {
            "type": "string"
          },
          "open_date": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "account_gender": {
            "type": "string"
          },
          "credit_officer": {
            "type": "string"
          },
          "purpose": {
            "type": "string"
          },
          "staff_referral": {
            "type": "string"
          },
          "register_channel": {
            "type": "string"
          }
        },
        "example": {
          "branch_code": "171",
          "account_no": "DUMM",
          "cif_no": "003201354",
          "account_class": "006",
          "account_ccy": "KHR",
          "account_desc": "PRUM Tithvicheka",
          "open_date": "2022-04-11",
          "address": "Kandal",
          "location": "171",
          "country_code": "KH",
          "account_gender": "N",
          "credit_officer": "171 - Battambang",
          "purpose": "Savings",
          "staff_referral": "171 - Battambang",
          "register_channel": "MB"
        }
      },
      "SearchsavingRequest": {
        "title": "SearchsavingRequest",
        "required": [
          "account_no",
          "account_class",
          "ccy"
        ],
        "type": "object",
        "properties": {
          "account_no": {
            "type": "string"
          },
          "account_class": {
            "type": "string"
          },
          "ccy": {
            "type": "string"
          }
        },
        "example": {
          "account_no": "000000011",
          "account_class": "",
          "ccy": ""
        }
      },
      "CreatedisbursementRequest": {
        "title": "CreatedisbursementRequest",
        "required": [
          "branch_code",
          "loan_account_no",
          "txn_branch_code",
          "value_date",
          "execution_date",
          "ccy",
          "total_amount",
          "amount_finance",
          "amount_disburse",
          "cif_no",
          "product_code",
          "maker_id",
          "checker_id",
          "settle_ccy",
          "settle_branch_code",
          "settle_amount",
          "settle_account_no"
        ],
        "type": "object",
        "properties": {
          "branch_code": {
            "type": "string"
          },
          "loan_account_no": {
            "type": "string"
          },
          "txn_branch_code": {
            "type": "string"
          },
          "value_date": {
            "type": "string"
          },
          "execution_date": {
            "type": "string"
          },
          "ccy": {
            "type": "string"
          },
          "total_amount": {
            "type": "string"
          },
          "amount_finance": {
            "type": "string"
          },
          "amount_disburse": {
            "type": "string"
          },
          "cif_no": {
            "type": "string"
          },
          "product_code": {
            "type": "string"
          },
          "maker_id": {
            "type": "string"
          },
          "checker_id": {
            "type": "string"
          },
          "settle_ccy": {
            "type": "string"
          },
          "settle_branch_code": {
            "type": "string"
          },
          "settle_amount": {
            "type": "string"
          },
          "settle_account_no": {
            "type": "string"
          }
        },
        "example": {
          "branch_code": "020",
          "loan_account_no": "0200028411249504",
          "txn_branch_code": "020",
          "value_date": "2023-02-02",
          "execution_date": "2023-04-03",
          "ccy": "USD",
          "total_amount": "5000",
          "amount_finance": "5000",
          "amount_disburse": "5000",
          "cif_no": "002841124",
          "product_code": "01155",
          "maker_id": "PISEY_HUOT",
          "checker_id": "SOVANNITH",
          "settle_ccy": "USD",
          "settle_branch_code": "016",
          "settle_amount": "5000",
          "settle_account_no": "000042225"
        }
      },
      "CreateloanaccountmethodBALLONRequest": {
        "title": "CreateloanaccountmethodBALLONRequest",
        "required": [
          "method",
          "branch_code",
          "product_code",
          "product_category",
          "user_define_status",
          "cif_no",
          "book_date",
          "value_date",
          "ccy",
          "amount_financed",
          "maturity_type",
          "principle",
          "provisioning_mode",
          "no_of_installment",
          "due_date_on",
          "frequency",
          "frequency_unit",
          "installment_start_date",
          "other_applicants",
          "components",
          "effective_date",
          "cbc_charge",
          "cbc_charge_resolved",
          "cbs_charge_basis",
          "interest_rate",
          "interest_rate_resolve",
          "interest_rate_basis",
          "loan_fee",
          "loan_fee_resolve",
          "loan_fee_basis",
          "penal_rate",
          "penal_rate_resolve",
          "penal_rate_basis",
          "chg_comp",
          "financials",
          "liabilities",
          "other_income",
          "credit_officer",
          "credit_officer_desc",
          "payment_location",
          "payment_location_desc",
          "loan_fund",
          "loan_fund_desc",
          "loan_purpose",
          "loan_purpose_desc",
          "exposure_type",
          "exposure_type_desc",
          "main_collateral_type",
          "main_collateral_type_desc",
          "credit_scoring",
          "credit_scoring_desc",
          "credit_risk_rating",
          "credit_risk_rating_desc",
          "approve_by",
          "approve_by_desc",
          "nbc_large_exposures",
          "nbc_large_exposures_desc",
          "loan_purpose_amount",
          "move_across_month",
          "move_maturity_date_across_month"
        ],
        "type": "object",
        "properties": {
          "method": {
            "type": "string"
          },
          "branch_code": {
            "type": "string"
          },
          "product_code": {
            "type": "string"
          },
          "product_category": {
            "type": "string"
          },
          "user_define_status": {
            "type": "string"
          },
          "cif_no": {
            "type": "string"
          },
          "book_date": {
            "type": "string"
          },
          "value_date": {
            "type": "string"
          },
          "ccy": {
            "type": "string"
          },
          "amount_financed": {
            "type": "string"
          },
          "maturity_type": {
            "type": "string"
          },
          "principle": {
            "type": "string"
          },
          "provisioning_mode": {
            "type": "string"
          },
          "no_of_installment": {
            "type": "string"
          },
          "due_date_on": {
            "type": "string"
          },
          "frequency": {
            "type": "string"
          },
          "frequency_unit": {
            "type": "string"
          },
          "installment_start_date": {
            "type": "string"
          },
          "other_applicants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OtherApplicant"
            },
            "description": ""
          },
          "components": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Components"
              },
              {}
            ]
          },
          "effective_date": {
            "type": "string"
          },
          "cbc_charge": {
            "type": "string"
          },
          "cbc_charge_resolved": {
            "type": "string"
          },
          "cbs_charge_basis": {
            "type": "string"
          },
          "interest_rate": {
            "type": "string"
          },
          "interest_rate_resolve": {
            "type": "string"
          },
          "interest_rate_basis": {
            "type": "string"
          },
          "loan_fee": {
            "type": "string"
          },
          "loan_fee_resolve": {
            "type": "string"
          },
          "loan_fee_basis": {
            "type": "string"
          },
          "penal_rate": {
            "type": "string"
          },
          "penal_rate_resolve": {
            "type": "string"
          },
          "penal_rate_basis": {
            "type": "string"
          },
          "chg_comp": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChgComp"
            },
            "description": ""
          },
          "financials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Financial"
            },
            "description": ""
          },
          "liabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Liability"
            },
            "description": ""
          },
          "other_income": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OtherIncome"
              },
              {}
            ]
          },
          "credit_officer": {
            "type": "string"
          },
          "credit_officer_desc": {
            "type": "string"
          },
          "payment_location": {
            "type": "string"
          },
          "payment_location_desc": {
            "type": "string"
          },
          "loan_fund": {
            "type": "string"
          },
          "loan_fund_desc": {
            "type": "string"
          },
          "loan_purpose": {
            "type": "string"
          },
          "loan_purpose_desc": {
            "type": "string"
          },
          "exposure_type": {
            "type": "string"
          },
          "exposure_type_desc": {
            "type": "string"
          },
          "main_collateral_type": {
            "type": "string"
          },
          "main_collateral_type_desc": {
            "type": "string"
          },
          "credit_scoring": {
            "type": "string"
          },
          "credit_scoring_desc": {
            "type": "string"
          },
          "credit_risk_rating": {
            "type": "string"
          },
          "credit_risk_rating_desc": {
            "type": "string"
          },
          "approve_by": {
            "type": "string"
          },
          "approve_by_desc": {
            "type": "string"
          },
          "nbc_large_exposures": {
            "type": "string"
          },
          "nbc_large_exposures_desc": {
            "type": "string"
          },
          "loan_purpose_amount": {
            "type": "string"
          },
          "move_across_month": {
            "type": "string"
          },
          "move_maturity_date_across_month": {
            "type": "string"
          }
        },
        "example": {
          "method": "BALLON",
          "branch_code": "020",
          "product_code": "0135",
          "product_category": "INDIVIDUAL",
          "user_define_status": "NORM",
          "cif_no": "002830362",
          "book_date": "2023-03-09",
          "value_date": "2023-03-09",
          "ccy": "USD",
          "amount_financed": "400",
          "maturity_type": "F",
          "principle": "400",
          "provisioning_mode": "A",
          "no_of_installment": "13",
          "due_date_on": "13",
          "frequency": "1",
          "frequency_unit": "M",
          "installment_start_date": "2023-03-13",
          "other_applicants": [
            {
              "cif_no": "002830876",
              "name": "CUSTOMER_002830876",
              "responsibility": "CBW",
              "liability": "100",
              "liability_amount": "1000",
              "effective_date": "2023-03-09"
            },
            {
              "cif_no": "002830878",
              "name": "CUSTOMER_002830878",
              "responsibility": "GUA",
              "liability": "100",
              "liability_amount": "1000",
              "effective_date": "2023-03-09"
            },
            {
              "cif_no": "003329996",
              "name": "Ratanak",
              "responsibility": "BRW",
              "liability": "100",
              "liability_amount": "400",
              "effective_date": "2023-03-09"
            }
          ],
          "components": {
            "cont_int": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "P",
              "maincomp": "N",
              "splint": "N",
              "penalbasiscomp": "PRINCIPAL",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "liquidationmode": "A",
              "expflag": "N",
              "crproduct": "000045999",
              "drproduct": "000045999"
            },
            "main_int": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "I",
              "maincomp": "Y",
              "splint": "N",
              "penalbasiscomp": "A",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "expflag": "N",
              "crproduct": "000045999",
              "drproduct": "000045999",
              "comp_sch": {
                "unit": "B",
                "capitalized": "N",
                "firstduedt": "2024-03-13",
                "waiverflg": "N",
                "emiamt": "0",
                "freq": "1",
                "formulaname": "MAIN_INT_FRM_2",
                "noofsch": "1",
                "schtyp": "P",
                "schflg": "N"
              }
            },
            "penal_int": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "P",
              "maincomp": "N",
              "splint": "N",
              "penalbasiscomp": "MAIN_INT",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "expflag": "N",
              "crproduct": "000045999",
              "drproduct": "000045999"
            },
            "penal_prn": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "P",
              "maincomp": "N",
              "splint": "N",
              "penalbasiscomp": "PRINCIPAL",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "expflag": "N",
              "crproduct": "000045999",
              "drproduct": "000045999"
            },
            "pre_pnlty": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "M",
              "maincomp": "N",
              "splint": "N",
              "penalbasiscomp": "PRINCIPAL",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "crproduct": "000045999",
              "drproduct": "000045999"
            },
            "pre_pnlty_2": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "M",
              "maincomp": "N",
              "splint": "N",
              "penalbasiscomp": "MAIN_INT",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "crproduct": "000045999",
              "drproduct": "000045999"
            },
            "pre_pnlty_3": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "M",
              "maincomp": "N",
              "splint": "N",
              "penalbasiscomp": "SIMP_INT",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "crproduct": "000045999",
              "drproduct": "000045999"
            },
            "principal": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "L",
              "maincomp": "N",
              "splint": "N",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "expflag": "N",
              "crproduct": "000045999",
              "drproduct": "000045999"
            },
            "simp_int": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "I",
              "maincomp": "N",
              "splint": "N",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "expflag": "N",
              "crproduct": "000045999",
              "drproduct": "000045999",
              "comp_sch": [
                {
                  "unit": "M",
                  "capitalized": "N",
                  "firstduedt": "2023-03-13",
                  "waiverflg": "N",
                  "due_date_on": "13",
                  "freq": "1",
                  "formulaname": "SIMP_INT_FRM_1",
                  "noofsch": "12",
                  "schtyp": "P",
                  "schflg": "N"
                },
                {
                  "unit": "B",
                  "capitalized": "N",
                  "firstduedt": "2024-03-13",
                  "waiverflg": "N",
                  "freq": "1",
                  "formulaname": "SIMP_INT_FRM_1",
                  "noofsch": "1",
                  "schtyp": "P",
                  "schflg": "N"
                }
              ]
            },
            "sim_pen_int": {
              "irrappl": "N",
              "fundduringinit": "N",
              "fundduringroll": "N",
              "compccy": "USD",
              "draccbrn": "020",
              "craccbrn": "020",
              "waive": "N",
              "verifyfunds": "Y",
              "settlccy": "USD",
              "cmptype": "P",
              "maincomp": "N",
              "splint": "N",
              "penalbasiscomp": "SIMP_INT",
              "capitalized": "N",
              "drpaymentmode": "ACC",
              "crpaymentmode": "ACC",
              "expflag": "N",
              "crproduct": "000045999",
              "drproduct": "000045999"
            }
          },
          "effective_date": "2023-03-09",
          "cbc_charge": "3",
          "cbc_charge_resolved": "3",
          "cbs_charge_basis": "N",
          "interest_rate": "0",
          "interest_rate_resolve": "0",
          "interest_rate_basis": "N",
          "loan_fee": "100",
          "loan_fee_resolve": "100",
          "loan_fee_basis": "N",
          "penal_rate": "24",
          "penal_rate_resolve": "24",
          "penal_rate_basis": "N",
          "chg_comp": [
            {
              "compchg_ccy": "USD",
              "comp_name": "ADHC_CHG",
              "dracc_branch": "020",
              "cracc_branch": "020",
              "settl_chg_ccy": "USD",
              "cmp_type": "O",
              "dr_pay_mode": "ACC",
              "cr_pay_mode": "ACC",
              "crprodac": "000045999",
              "drprodac": "000045999"
            },
            {
              "compchg_ccy": "USD",
              "comp_name": "CBC_CHARGE",
              "dracc_branch": "020",
              "cracc_branch": "020",
              "settl_chg_ccy": "USD",
              "cmp_type": "H",
              "dr_pay_mode": "ACC",
              "cr_pay_mode": "ACC",
              "crprodac": "000045999",
              "drprodac": "000045999"
            },
            {
              "compchg_ccy": "USD",
              "comp_name": "CBC_CHG_VAT",
              "dracc_branch": "020",
              "cracc_branch": "020",
              "settl_chg_ccy": "USD",
              "cmp_type": "H",
              "dr_pay_mode": "ACC",
              "cr_pay_mode": "ACC",
              "crprodac": "000045999",
              "drprodac": "000045999"
            },
            {
              "compchg_ccy": "USD",
              "comp_name": "LOAN_FEE",
              "dracc_branch": "020",
              "cracc_branch": "020",
              "settl_chg_ccy": "USD",
              "cmp_type": "H",
              "dr_pay_mode": "ACC",
              "cr_pay_mode": "ACC",
              "crprodac": "000045999",
              "drprodac": "000045999"
            },
            {
              "compchg_ccy": "USD",
              "comp_name": "PROV",
              "dracc_branch": "020",
              "cracc_branch": "020",
              "settl_chg_ccy": "USD",
              "cmp_type": "H",
              "dr_pay_mode": "ACC",
              "cr_pay_mode": "ACC",
              "crprodac": "000045999",
              "drprodac": "000045999"
            }
          ],
          "financials": [
            {
              "account_no": "0150033299960002",
              "branch_code": "015",
              "sequence_no": "1",
              "financial_type": "Avg Payment of Debt after CBC",
              "financial_source": "Business Omwer",
              "ccy": "USD",
              "amount": "1000"
            },
            {
              "account_no": "0150033299960002",
              "branch_code": "015",
              "sequence_no": "2",
              "financial_type": "Total Asset Value",
              "financial_source": "Business Omwer",
              "ccy": "USD",
              "amount": "2000"
            }
          ],
          "liabilities": [
            {
              "account_no": "0150033299960001",
              "branch_code": "015",
              "sequence_no": "1",
              "liability_type": "ACLEDA BANK Plc",
              "account_type": "Loan",
              "ccy": "USD",
              "amount": "100",
              "frequency": "Monthly",
              "balance": "1000",
              "commentdet": "10"
            },
            {
              "account_no": "0150033299960001",
              "branch_code": "015",
              "sequence_no": "2",
              "liability_type": "ACTIVE PEOPLES MICROFINANCE",
              "account_type": "Loan",
              "ccy": "USD",
              "amount": "200",
              "frequency": "Monthly",
              "balance": "2000",
              "commentdet": "20"
            }
          ],
          "other_income": {
            "account_no": "0150033299960001",
            "branch_code": "015",
            "sequence_no": "1",
            "income_type": "02010110",
            "ccy": "USD",
            "amount": "2000",
            "frequency": "Monthly"
          },
          "credit_officer": "000 - Head Office",
          "credit_officer_desc": "000 | Head Office",
          "payment_location": "OFFICE",
          "payment_location_desc": "OFFICE",
          "loan_fund": "STANDARD",
          "loan_fund_desc": "STANDARD",
          "loan_purpose": "01020101",
          "loan_purpose_desc": "Commercial Banks",
          "exposure_type": "Micro Loan",
          "exposure_type_desc": "Micro Loan",
          "main_collateral_type": "MAINCO004",
[...]
